<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#fff" />

    <title>6WAVE Experience: The Future of Digital Entertainment</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-132875202-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-132875202-1");
    </script>
  </head>
  <body>
    <div class="main-wrap">
      <div class="left-aside">
        <div class="logo-wrap"></div>

        <p>
          The 6Wave Experiences exclusive business and leisure destination
          program.
        </p>

        <ul>
          <li>Monaco</li>
          <li>Milan</li>
          <li>Davos</li>
          <li>Bad Ragaz</li>
          <li>Zurich</li>
        </ul>

        <a href="#form" class="get">Get agenda!</a>

        <div class="links">
          <a
            href="https://www.facebook.com/pg/6Wave-100585234811550/events"
            class="link"
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                width="35.1292"
                height="35.1292"
                rx="17.5646"
                fill="#4267B2"
              />
              <path
                d="M18.2305 26V18.3043H20.8137L21.2004 15.3052H18.2305V13.3904C18.2305 12.5221 18.4717 11.9303 19.7169 11.9303L21.3051 11.9296V9.2472C21.0303 9.21078 20.0876 9.12915 18.9909 9.12915C16.7011 9.12915 15.1335 10.5267 15.1335 13.0935V15.3053H12.5437V18.3044H15.1334V26L18.2305 26Z"
                fill="white"
              />
            </svg>
          </a>

          <a
            href="https://www.facebook.com/pg/6Wave-100585234811550/events"
            class="link"
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.337646"
                width="35.1292"
                height="35.1292"
                rx="17.5646"
                fill="#0077B5"
              />
              <path
                d="M26.7837 24.9942C25.7409 24.9693 24.7229 24.9693 23.6801 24.9942C23.4566 24.9942 23.4069 24.9445 23.4069 24.721C23.4069 22.8837 23.4069 21.0215 23.4069 19.1841C23.4069 18.762 23.3821 18.3399 23.258 17.9426C22.8855 16.6515 21.3958 16.1797 20.3281 17.0487C19.757 17.4957 19.5335 18.1164 19.5335 18.8613C19.5335 20.5994 19.5335 22.3374 19.5335 24.0755C19.5335 24.2989 19.5087 24.5224 19.5335 24.7707C19.5584 24.9693 19.4591 25.019 19.2853 24.9942C18.2176 24.9942 17.1748 24.9942 16.1071 24.9942C15.9085 24.9942 15.8588 24.9445 15.8588 24.7459C15.8836 23.1816 15.8836 21.6174 15.8836 20.0283C15.8836 18.0916 15.8836 16.1549 15.8588 14.243C15.8588 14.0196 15.9085 13.9699 16.1071 13.9699C17.1748 13.9699 18.2176 13.9699 19.2853 13.9699C19.4839 13.9699 19.5335 14.0196 19.5335 14.2182C19.5335 14.6155 19.5335 15.0127 19.5335 15.4845C19.608 15.41 19.6329 15.3852 19.6577 15.3604C20.626 13.9451 21.9917 13.5478 23.6056 13.7961C25.4678 14.0941 26.6596 15.3852 26.9575 17.3715C27.032 17.8433 27.0569 18.315 27.0569 18.7868C27.0569 20.7732 27.0569 22.7347 27.0569 24.721C27.0569 24.9197 27.0072 24.9942 26.7837 24.9942Z"
                fill="white"
              />
              <path
                d="M13.8725 19.482C13.8725 21.2201 13.8725 22.9581 13.8725 24.6962C13.8725 24.9196 13.8228 24.9941 13.5994 24.9941C12.5565 24.9693 11.5137 24.9941 10.4709 24.9941C10.2722 24.9941 10.2226 24.9445 10.2226 24.7458C10.2226 21.2449 10.2226 17.7191 10.2226 14.2182C10.2226 14.0444 10.2722 13.9699 10.4709 13.9699C11.5385 13.9699 12.6062 13.9699 13.6738 13.9699C13.8973 13.9699 13.9221 14.0444 13.9221 14.243C13.8725 15.9811 13.8725 17.7191 13.8725 19.482Z"
                fill="white"
              />
              <path
                d="M14.0464 11.0896C13.7981 12.0828 12.7801 12.6539 11.6131 12.4552C10.3716 12.2566 9.67638 11.04 10.1233 9.84814C10.4213 9.10326 11.1413 8.65633 12.06 8.68116C13.4505 8.65633 14.3691 9.77365 14.0464 11.0896Z"
                fill="white"
              />
            </svg>
          </a>
        </div>

        <p>Reach out if you want to join:</p>

        <a href="https://t.me/sixthmegacycle" class="join"
          >https://t.me/sixthmegacycle</a
        >

        <a href="mailto:ykhata@icloud.com" class="join">ykhata@icloud.com</a>
      </div>
      <div class="main-content">
        <div class="events">
          <div class="event">
            <div class="date">
              <div class="number">15</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Wednesday</div>
              <a href="https://www.eventbrite.com/e/88754155067" class="title-link">La Scala Performance. Milan</a>
              <div class="place">Teatro Alla Scala</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">16</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Thursday</div>
              <a href="https://www.eventbrite.com/e/88758490033/" class="title-link"
                >Pre Davos, Leisure and Entertainment in Milan, followed by the
                Dinner at BICE</a>
              <a href="https://www.eventbrite.com/e/88756911311/" class="title-link"
                >Pre Davos Cultural & Shopping Experience in Milan</a>
              <div class="place">Old city</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">17</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Friday</div>
              <a href="https://www.eventbrite.com/e/88758040689/" class="title-link"
                >Milan culture and leisure entertainment program, followed by
                exclusive Evening Dinning</a
              >
              <div class="place">via Monte Napoleone</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">18</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Saturday</div>
              <a href="https://www.eventbrite.com/e/88763940335/" class="title-link"
                >Fire side chats 6Wave</a
              >
			  <a href="https://www.eventbrite.com/e/88763940335/" class="title-link"
                >Cosplay DJ Party</a
              >
              <div class="place">Klosters</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">19</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Sunday</div>
              <a href="https://www.eventbrite.com/e/88764564201/" class="title-link"
                >Brunch Fire Party</a
              >
              <a href="https://www.eventbrite.com/e/88962508257/" class="title-link"
                >Kings of Media Party & Post Modernism Art</a
              >
              <a href="https://www.eventbrite.com/e/6wave-cosplay-models-afterparty-tickets-89458407505" class="title-link"
                >6Wave Cosplay Models Party</a
              >
              <div class="place">Klosters</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">20</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Monday</div>
              <a href="https://www.eventbrite.com/e/6wave-cigar-lounge-exclusive-dj-afterparty-tickets-88963120087" class="title-link"
                >Cigar Lounge Exclusive After Party</a
              >
              <div class="place">Klosters</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">21</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Tuesday</div>
              <a href="https://www.eventbrite.com/e/88963826199/" class="title-link"
                >Kings of Media DJ
                Cosplay After Party
              </a>
              <div class="place">Klosters</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">22</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Wednesday</div>
              <a href="https://www.eventbrite.com/e/89179475211/" class="title-link"
                >6Wave & Davos Syndicate After Party</a
              >
              <div class="place">Klosters</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">23</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Thursday</div>
              <a href="" class="title-link">
                Millennial & Generation Z. Branding, video games, esports, big
                data, AI, AR, generational changes.</a
              >
              <a href="https://www.eventbrite.com/e/88967065889/" class="title-link">
				6Wave Cosplay Party @Piano</a
              >
              <a href="https://www.eventbrite.com/e/88967232387/" class="title-link">
				Bar 6Wave Cigar After party @Klosters</a
              >			  
              <div class="place">Piano bar, Davos</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">24</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Friday</div>
              <a href="https://www.eventbrite.com/e/89458604093/" class="title-link"
                >Seehof Hotel, Video Gaming Brunch Esports & Video Gaming Event
                at Seehof</a
              >
              <a href="https://www.eventbrite.com/e/89458690351/" class="title-link"
                >6Wave Cosplay Lounge Party & Farewell Party</a
              >
              <div class="place">Seehof Hotel, Davos</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">25</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Saturday</div>
              <a href="https://www.eventbrite.com/e/88964803121" class="title-link"
                >Thermal Spa & Sauna relaxation program</a
              >
              <div class="place">Bad Ragaz</div>
            </div>
          </div>

          <div class="event">
            <div class="date">
              <div class="number">26</div>
              <div class="mounth">January</div>
            </div>

            <div class="content-event">
              <div class="time">Sunday</div>
              <a href="https://www.eventbrite.com/e/88965583455" class="title-link"
                >Farewell at The Dolder Grand Hotel</a
              >
              <div class="place">Dolder Grand Hotel, Zürich</div>
            </div>
          </div>
        </div>

        <div class="form-wrap" id="form">
          <div class="title">
            Please provide your email so we can send you detailed agenda
          </div>

          <div id="mc_embed_signup">
            <form
              action="https://6wave.us4.list-manage.com/subscribe/post?u=408ffe2c0e16c99f243ca8208&amp;id=a4d2858543"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div class="form-group" id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <input
                    type="text"
                    value=""
                    name="FNAME"
                    class=""
                    id="mce-FNAME"
                    placeholder="Name"
                  />
                </div>

                <div class="mc-field-group">
                  <input
                    type="email"
                    value="Email address"
                    name="EMAIL"
                    class="required email"
                    id="mce-EMAIL"
                  />
                </div>

                <div id="mce-responses" class="clear">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display:none"
                  ></div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display:none"
                  ></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_408ffe2c0e16c99f243ca8208_a4d2858543"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="clear">
                  <input
                    type="submit"
                    value="Get agenda!"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="button"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="bottom-content">
          <div class="title">Welcome to the 6Wave Experiences</div>
          <div class="subtitle">
            Monaco, Milan, Davos, Bad Ragaz, Zurich 2020 Edition.
          </div>
          <p>
            The 6Wave Experiences* exclusive business and leisure destination
            program. We create upscale, tailored, private environments where
            leaders and impact people can discuss major issues, have major
            discoveries, where strong relationships are formed, that result in
            big global changes, needed to drive the next wave of technological
            revolution. Annual membership is required to attend our events. We
            want High Impact People. Membership requires Referral & Invitation.
          </p>

          <p class="bold-title">
            *Annual membership fee $5000. Our next event will be Formula One
            Monaco.
          </p>

          <p>
            6Wave is a think tank that studies the intersection of technological
            progress, social entertainment and the 4th Industrial Revolution. We
            structure problems, discussion solutions that have a major impact on
            global prosperity. 6Wave was created by Evgeny Xata, the co-author
            of: Sixth Mega-Cycle: What can economic history teaches us about the
            future?
          </p>

          <p class="bold-title">Important Notes:</p>

          <p class="italic-content">
            We are committed to confidentiality of our VIP guests, when they
            prefer to remain “incognito”. For the rest the final decision on
            speakers and moderators will be made three days before the event, in
            order to accommodate VIPs.
          </p>

          <p class="italic-content">
            **All our events have a time limit, as our space is super limited,
            relative to the amount of requests, please be mindful of the other
            participants. You can apply for the waiting list for the next event,
            in case of a “no shows”, also randomly selected so everyone will
            have an equal % chance.
          </p>

          <p class="italic-content">
            ***Due to the large amount of applications, we have to limit 2
            events per person. We are respectful and fair to all our Guests.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
