<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <title>eSports: The Future of Digital Entertainment</title>  
  </head>
  <body>
    <div class="wrapper">
      <h1>Esports is one of the most disrupting industries of the 21st century</h1>
      <p class="appl">We're combining the environment of the World Economic Forum with educational and networking events where political, business and other leaders of society are for the first time in the history of Davos exposed to esports and its leaders.</p>
      <p></p>
      <a class="on">SeeHof Hotel, Davos Switzerland, 24th January 2019</a>
      <p class="appl">Esports roundtable lunch from 12-00 to 14-00 PM</p>
      <p class="appl">Private cocktail reception from 18-00 to 19-00 PM</p>
      <a class="apply" href="https://hyperlootfoundation.typeform.com/to/bP471L">Request an invitation</a>
    </div>

    <video playsinline autoplay muted loop poster="<%= require('./assets/background.jpg') %>" class="background">
      <source src="<%= require('./assets/video.webm') %>"  type="video/webm">
    </video>
  </body>
</html>
