<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <title>eSports: The Future of Digital Entertainment</title>  
  </head>
  <body>
    <div class="wrapper">
      <h1>eSports Leadership Round Table</h1>
      <p>Bringing together the brightest minds of the next global growth phenomenon</p>
      <p></p>
      <a class="on">Central Davos, Switzerland, 24th of January, 16.00-18.00</a>
      <p>Private event — apply to participate in the conversation</p>
      <a class="apply" href="https://alexva.typeform.com/to/bP471L">Learn from eSports experts</a>
    </div>

    <video playsinline autoplay muted loop poster="<%= require('./assets/background.jpg') %>" class="background">
      <source src="<%= require('./assets/video.webm') %>"  type="video/webm">
    </video>
  </body>
</html>
