<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <title>Future of Entertainment eSports, series of fireside chats on future of eSports</title>
  </head>
  <body>
    <h1>Future of Entertainment eSports, series of fireside chats on future of eSports</h1>
    <p>Belvedere, Davos on December 24, at 16-00</p>
    <p>Private event — apply to participate in the conversation</p>
    <a href="#">Learn from eSports experts</a>
  </body>
</html>
