<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <title>Esports: The Future of Digital Entertainment</title>  
  </head>
  <body>
    <div class="wrapper">
      <h1>Esports is bound to become one of the most disruptive industries of the 21st century</h1>
      <p class="appl">During a very special week when political, business and civil society global leaders come to meet in Davos, we are delighted to organize a series of gatherings with the brightest minds representing Esports to make these two worlds better understand each other and help Esports achieve the remarkable potential it has in the years to come.</p>
      <a class="on">Seehof Hotel Davos</a>
      <a class="on">Thursday 24th January 2019</a>
      <p></p>
      <p></p>
      <p class="appl">Esports Roundtable Lunch 13:00-15:00</p>
      <p class="appl">Esports Cocktail Reception 18:00-19:00</p>
      <a class="apply" href="https://hyperlootfoundation.typeform.com/to/bP471L">Request an invitation</a>
    </div>

    <video playsinline autoplay muted loop poster="<%= require('./assets/background.jpg') %>" class="background">
      <source src="<%= require('./assets/video.webm') %>"  type="video/webm">
    </video>
  </body>
</html>
